.wrapper {
  position: fixed;
  z-index: 50;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 494px;
  width: 100%;
  padding: 22px;
  border-radius: 16px;
  background: var(--white);
}

.text {
  opacity: 0.8;
}

.btns {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.btn {
  padding: 0 15px;
  border-radius: 16px;
}

.link {
  font-size: 14px;
  text-decoration: underline;
  opacity: 0.4;

  &:hover {
    opacity: 0.6;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: calc(100% - 40px);
    padding: 16px;
  }

  .btns {
    gap: 12px;
  }

  .btn {
    padding: 0 12px;
  }
}
