.title {
  margin-bottom: 42px;
  font-size: 40px;
  line-height: 44px;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.step {
  max-width: 432px;
  padding: 29px;
  position: relative;
  border: 1px solid var(--border-gray);
  border-radius: 24px;
  overflow: hidden;
}

.top {
  width: fit-content;
  padding: 8px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background: var(--blue);
  font-family: var(--font-inter-italic);
  font-style: italic;
  border-radius: 12px;
}

.suptitle {
  margin: 40px 0 18px;
  font-size: 26px;
  line-height: 34px;
}

.ornament {
  position: absolute;
  right: 0;
  top: 0;
}

.text {
  letter-spacing: -0.03em;
}

@media (max-width: 1368px) {
  .step {
    max-width: calc(50% - 8px);
    width: 100%;
  }
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 24px;
  }

  .steps {
    gap: 8px;
  }

  .step {
    max-width: 100%;
    padding: 22px;
    border-radius: 20px;
  }

  .top {
    padding: 6px 8px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 10px;
  }

  .ornament {
    width: 152px;
    height: 85px;
  }

  .suptitle {
    margin: 26px 0 10px;
    font-size: 16px;
    line-height: 21px;
  }
}
